-
	const siteUrl = '';
	const absolutePath = siteUrl;

	let pageTitle = 'Index',
	features = [
		{title: 'Feature', descr: 'Simple text'},
	],
	socLinks = [
		{icon: 'fb', label: 'Facebook', link: '#'},
		{icon: 'ins', label: 'Instagram', link: '#'},
		{icon: 'vk', label: 'Вконтакте', link: '#'},
	],
	css = {
	},
	images = {
		logo: {src: absolutePath + '/data/190226/2136184881629692.jpg', alt: 'logo'},
	};
