include includes/vars.pug

doctype html
html(lang="ru")
	head
		- pageTitle = 'Welltory pro';
		include includes/head.pug
	body.M0.H100p
		include includes/header.pug
		main
			.wrapper
				h1.Fw1gg Simple text

		include includes/footer.pug
		script(src="js/scripts.min.js")
